# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Digital Image Process

digital_Image_Process/build-imageProcess-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/

# compiler_Experiment
compiler_Experiment/.idea/
compiler_Experiment/compiler_Experiment.iml
